.how-to-buy {
     display: flex;
     overflow: hidden;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .checkbox-one, .checkbox-two, .checkbox-three {
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: center;
          width: 45rem;
          height: 3.5rem;
          background-color: rgba(186, 169, 224, 0.486);
          margin-top: 2rem;
          border-radius: 10px;
          .title {
               display: flex;
               align-items: center;
               margin-top: 0.8rem;
               color: midnightblue;
               font-weight: 500;
               letter-spacing: -0.6px;
               font-size: 1.2rem;
               column-gap: 25px;
               #iconPlus{
                    color: #303030;
                    font-size: 2rem;
                    cursor: pointer;

               }
          }


    }

}