.main-container {
     width: 99%;
     height: auto;
     margin: 0 auto;
     background-color: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     .carousel {
          width: 90%;          
     }
}