.Header-Bottom {
  width: 100%;
  height: 4rem;
  background-color: rgba(247, 247, 247, 0.767);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.089);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .header-bottom-left {
    display: flex;
    .contact-us {
      margin: 0.8rem;
    }
  }

  .search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input[type="search"] {
      border-radius: 20px;
      width: 40rem;
      height: 2.8rem;
      padding: 0rem 3.4rem;
      outline: none;
      border: none;
      color: #303030;
      font-size: 1.2rem;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.233);
    }
    input[type="search"]:focus {
      outline: 1px solid #b3b3b3;
      font-weight: 500;
    }
    input[type="search"]:focus::placeholder {
      visibility: hidden;
    }

    #search-icon {
      position: absolute;
      left: 1rem;
      font-size: 1.5rem;
    }
  }
  .search {
    position: relative;

    .data-container {
      display: none;
      position: absolute;
      top: 3rem;
      width: 100%;
      left: 0.3rem;
      min-height: 50vh;
      background-color: whitesmoke;
      border: 1px solid #cecece;
      border-radius: 20px;
      z-index: 29;
      .datas {
        color: #303030;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        h3 {
          font-size: 1rem;
          transition: 0.1s ease-out;
        }
        #jeans {
          width: 8%;
        }
        #nike {
          width: 16%;
        }
        #laptop {
          width: 13%;
        }
        #phone {
          width: 11%;
        }
        border-bottom: 1px solid #cecece;
        margin: 0.5rem 0rem;

        h3:hover {
          background-color: #e4e4e4;
          cursor: pointer;
          padding: 0.7rem;
        }
      }
    }
    .active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      width: 100%;
      left: 0.3rem;
      min-height: 50vh;
      background-color: whitesmoke;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid #cecece;
      border-radius: 20px;
      z-index: 29;
    }
  }

  .header-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4%;

    .auth-profile-box {
      display: flex;
      align-items: center;
      position: relative;

      #myProfile {
           font-size: 1.7rem;
           color: #303030;
           display: flex;
           align-items: center;
           flex-direction: column;
           h6 {font-size: 0.9rem;}
      }

      #myProfile:hover {color: rgb(83, 71, 156);}

      .icons {
        display: flex;
        align-items: center;
        #caret {font-size: 1.6rem; cursor: pointer;
          &:hover {transform: scale(1.1);}}}
    }



    #myBasket {
      h6 {
        font-size: 0.8rem;
      }
      font-size: 1.7rem;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      color: rgb(70, 70, 70);
    }

    #myBasket:hover {
      color: #b1aeae;
    }



  }
}
