.women-wear {
     position: absolute;
     width: 600px;
     height: 330px;
     background-color: whitesmoke;
     border: 1px solid #cecece;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     z-index: 30;
     top: 3rem;
     left: 40rem;
     display: flex;
     justify-content: space-evenly;
     align-items: center;

     .bar{
          position: absolute;
          top: 0rem;
          font-size: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #525252c9;
          border-bottom: 1px solid #cecece98;
     }

     .cat1, .cat2 {
          width: 49%;
          height: 83.5%;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          #links {
               font-size: 1.2rem; color: #696969; width: 12rem;
               margin: 0.3rem 1rem;
               width: 100%;
          }
     }
}